
body
{
	margin: 0;
	padding: 0;
	font-family: 'Arvo', serif;
	height: 100%;
	background-color: #ebebe0;
}
.red
{
	background-color: #990000;
}
.blue
{
 background-color: #8080ff;
}
#wrapper 
{
 
 
}
#wrapper

{

	
	width: 30%;
	margin: 0 auto;
	padding-top: 10px;
	height: 60%;
}
#wrapper h1
{
	text-align: center;
	font-size: 42px;
}

#container
{
	display: flex;
	width: 90%;
	border: 10px normal blue;
	margin-left: auto;
	margin-right: auto;
	
}
.image
{
	flex: 1;
}
#corps
{

	background-image: url(https://www.zupimages.net/up/18/05/qijx.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 59%;
	display: flex;
	flex-direction: column;
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.type1 {
    width: 50px;
    height: 50px;
    background-color:rgba(230, 46, 0, 0.8) ;
    
}
#rouge
{
 margin-top: 32%;
    margin-left: 18%;
}
#haut1
{
	margin-top: 12%;
	margin-left: 62%;
}
.type2 {
    width: 50px;
    height: 50px;
    background-color: rgba(38, 38, 38, 0.8);
    
}
#up
{
	margin-top: 0%;
	margin-left: 15%;

}
#milieu
{
	margin-bottom: 10%;
	margin-left: 49%;

}
#bas
{
	margin-left: 29%;
}
#rond-rouge
{
	flex: 1;
	

}

#doigt
{
	margin-top: 0%;
	margin-left: 48%;
}

#epaule 
{
	font-size: 16.5px;
	font-weight: bold;
}
footer
{
	height: 140px;
	
	font-family: 'Roboto', sans-serif;
	
}
#Windows
{
    padding-top: 1%;
    padding-left: 78%;
    font-weight: bold;
    color: #A8A8A8;
}
span
{
    font-size: 28px;
}